<div class="container">
    <form (ngSubmit)="this.nuevoRegistro()">
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
                [(ngModel)]="this.nuevoUsuario.nombre" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputSurname" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="exampleInputSurname" aria-describedby="surnameHelp"
                [(ngModel)]="this.nuevoUsuario.apellido" name="surname">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                [(ngModel)]="this.nuevoUsuario.email" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Contrasena</label>
            <input type="password" class="form-control" id="exampleInputPassword" [(ngModel)]="this.nuevoUsuario.clave"
                name="password">
        </div>
        <button type="submit" class="btn btn-primary">Registrarme</button>
    </form>
</div>
